main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  width: 80%;
  float: right;
  position: relative;
  margin-left: 250px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 300px;
  height: 300px;
}

.content {

}

.sidebar {
  position: absolute;
  height: 70vh;
  width: 20%;
  background-color: #f1f1f1;
}
