main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  width: 80%;
  float: right;
  position: relative;
  margin-left: 250px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: 200px;
}

.content {

}

.sidebar {
  position: absolute;
  height: 70%;
  width: 20%;
  background-color: #f1f1f1;
}
